@model Materia

 <h5 class="bg-primary text-white text-center m-2 p-2">Cadastrar</h5>
    <form action="CreateMateria" method="post" class="m-2">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Titulo">Titulo da Materia:</label>
            <input asp-for="Titulo" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl">Link Url da imagem:</label>
            <input asp-for="ImageUrl" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar Materia</button>
    </form>