.field-validation-error{
    color: brown;
}
.field-validation-valid{
    display: none;
}
.input-validation-error{
    border: 1px solid #f00987;
    background-color: #fee;
}
.validation-summary-errors{
    font-weight: bold;
    color: brown;
}

.validation-summary-valid{
    display: none;
}