@page
@model LoginAndRegister.Pages.Register
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4" >

        </div>
    </div>

</div>
