@model Produto

@{
    Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Produto</title>
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Cadastrar</h5>
    <form action="Cadastro" method="post" class="m-2">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Nome">Nome produto:</label>
            <input asp-for="Nome" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="Quantidade">Quantidade do produto:</label>
            <input asp-for="Quantidade" class="form-control"/>
        </div>

        <div class="form-group">
            <label asp-for="Preco">Preço do produto:</label>
            <input asp-for="Preco" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
    </form>
</body>
</html>