@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Produtos</title>
</head>
<body>
    <div class="text-center">
        <h1>Bem Vindo ao Cadastro de Produtos</h1>
        <h4>Dirija-se à página de cadastro</h4>
        <a asp-action="Cadastro" class="btn btn-primary">Cadastrar Produto</a>
    </div>
</body>
</html>

