@model musicmvc.Models.Genre

@{
    ViewData["Title"] = "Browse";
}

<h2>Browsing Genre: @Model.Name</h2>

<ul>
    @foreach (var item in Model.Albums)
    {
        <li>
            @Html.ActionLink(item.Title, "Details", new {id = item.AlbumId})
        </li>
    }
</ul>