@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festa!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div>
        <div class="text-center m-2">
           <h2>Vamos para uma festa divertida! </h2>  <br>
            <img class="img img-thumbnail" src="/img/logofesta.png" alt="logo festa">
        </div>
        <div class="text-center m-2">
            <a class="btn btn-success" asp-action="RsvpForm">Confirmar Presença</a>
        </div>
    </div>
</body>
</html>